<!DOCTYPE html>

<html>

<head>

<title>

Write Prescription

</title>

</head>

<body>

<h2>

Prescription

</h2>

<h3>

Patient :

{{ appointment.patient.first_name }}

{{ appointment.patient.last_name }}

</h3>

<form method="POST">

{% csrf_token %}

<label>

Diagnosis

</label>

<br>

<textarea
name="diagnosis">
</textarea>

<br><br>

<label>

Medicines

</label>

<br>

<textarea
name="medicines">
</textarea>

<br><br>

<label>

Dosage

</label>

<br>

<textarea
name="dosage">
</textarea>

<br><br>

<label>

Advice

</label>

<br>

<textarea
name="advice">
</textarea>

<br><br>

<label>

Next Visit

</label>

<br>

<input
type="date"
name="next_visit">

<br><br>

<button>

Save Prescription

</button>

</form>

</body>

</html>