{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<h2 class="text-center">

Register

</h2>

<div class="row mt-5">

<div class="col-md-6">

<div class="card shadow">

<div class="card-body text-center">

<h3>👤 Patient</h3>

<a href="/patient/register/" class="btn btn-primary">

Patient Registration

</a>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card shadow">

<div class="card-body text-center">

<h3>🩺 Doctor</h3>

<a href="/doctor/register/" class="btn btn-success">

Doctor Registration

</a>

</div>

</div>

</div>

</div>

</div>

{% endblock %}